@import '~react-image-gallery/styles/css/image-gallery.css';
/* body {
    font-family: 'Quicksand';
} */
.cardButton {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    transition: 0.4s;
    color: #24bbdb;
    border: 1px solid #24bbdb;
    margin-top: 5px;
}

.cardButton:hover {
    transition: 0.4s;
    background-color: #24bbdb;
    color: white;
}

.site-header,
.mobile-header {
    background-color: rgba(0, 0, 0, 1);
    padding: 0px;
    transition: 0.4s;
}

.site-header:hover,
.mobile-header:hover {
    background-color: black;
    transition: 0.4s;
}
.site-header.ha-header-1 .main-navigation {
    margin: 10px;
}
.site-header.ha-header-1 {
    padding: 0px;
}
.header-top-widget {
    margin: 10px;
}

.ql-clipboard,
.ql-tooltip {
    display: none;
}

.splide__track,
.splide__track--slide,
.splide__track--ltr .splide__track--draggable {
    height: 100%;
}

.aboutArticle p {
    font-size: 15px;
}

.hasCustomSelect {
    padding: 5px;
    width: 170px;
}
.variations tr {
    margin: 10px !important;
    padding: 5px;
}

.variations td,
th {
    padding: 5px;
}

.plus,
.minus,
.qty {
    display: block;
    float: left;
    width: 36px !important;
    height: 36px !important;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #777;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    transition: 0.3s;
}

.plus:hover,
.minus:hover {
    transition: 0.3s;
    border: 1px solid #24bbdb;
    color: #24bbdb;
}

.additionalDetail-table {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}
.additionalDetail-table th {
    text-align: left;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 7px 15px;
    text-align: left;
    margin: 0;
}
.additionalDetail-table td {
    border-bottom: 1px solid #e4e4e4;
    padding: 7px 15px;
    text-align: left;
    margin: 0;
}

.multiPrice {
    color: #24bbdb;
    font-size: 16px;
    width: 30px;
    height: 20px;
    margin-left: 30px;
}

.second {
    position: relative;
}

#top-bar-wrap,
#top-bar-content strong {
    color: #ffffff;
}
#top-bar-wrap,
.oceanwp-top-bar-sticky {
    background-color: #24bbdb;
}

#top-bar-wrap {
    position: relative;
    background-color: #fff;
    font-size: 12px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 101;
}

.menu-bold {
    font-weight: 600;
    width: 70%;
}

.attr-content li {
    margin: 0px !important;
}

*::-webkit-scrollbar {
    display: none;
}

.search-box {
    width: 85%;
}

@media (min-width: 580px) and (max-width: 780px) {
    .search-box {
        width: 80%; /* fixed width */
    }
}
@media (max-width: 1130px) {
    .menu-item {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .sort-select {
        width: 80% !important;
    }
}
@media (max-width: 768px) {
    .sort-select {
        width: 70% !important;
    }
}

@media (max-width: 580px) {
    .sort-select {
        width: 85% !important;
    }
}

@media (max-width: 1060px) {
    .menu-item {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
